.header {
    background-image: url("../images/background.png");
    background-position: center;
    width: available;
    height: 32em;
    font-family: 'Press Start 2P', cursive;
}

.header-title {
    position: absolute;
    top: 8em;
    left: 25em;
    color: #289B75;
}

.informations {
    color: #289B75;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    padding-top: 5em;
    padding-left: 30rem;
    padding-right: 30rem;
    padding-bottom: 2em;
}

h1 {
    font-size: 5em;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -10px black;
}

label {
    font-family: 'Press Start 2P', cursive;
    color:  #289B75;
}

.SelectOwner {
    background-color: black;
    padding-top: 1em;
    padding-left: 30em;
    padding-right: 30em;
    padding-bottom: 5em;
    text-align: center;
}

.own-btn{
    font-family: 'Press Start 2P', cursive !important;
    background: #289B75 !important;
    color: black !important;
    border: 0.15em dotted black;
    margin-top: 1em;
    margin-bottom: 1em;
}

.own-btn:hover{
    font-family: 'Press Start 2P', cursive !important;
    background: #289B75 !important;
    color: black !important;
    border: 0.3em dotted black;
}

#alchemyTextDiv {
    width: 300px;
    height: auto;
    color:  #289B75;
}

.edge-line{
    stroke: grey !important;
    stroke-width: 2 !important;
    opacity: 0.2 !important;

}

.center{
    text-align: center;
}
.loading {
    margin-bottom: 15px;
    display: inline-block;
    border: 10px solid #000000; /* Light grey */
    border-top: 10px solid #289B75; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hide{
    display: none;
}

.CircleInfo{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.CircleInfo i{
size: 5px;
}

.CircleLevel1{
    background-color: #1B9E77;
}

.CircleLevel2{
    background-color: #255D9C;
}

.CircleLevel3{
    background-color: #EFA129;
}

.CircleLevel4{
    background-color: #AA3939;
}

#BtnTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.error {
    font-family: 'Press Start 2P', cursive;
    color:  #AA3939;
}
.bugs {
    border: none;
    background-color: black;
    padding-top: 1em;
    color: #AA3939;
    font-size: 0.8em;
}

.bugs .fas {
    font-size: 2em;
}

.bugs span {
    font-size: 0.8em !important;
}
